

.navbar {
    background-color: #eee;
    color: grey;
    justify-content: right;
    display:flex;
    width:90%;
    align-items: center;
  }

#createStudent{
   background-color: rgb(18, 232, 18);
   border: 3px;
}

#navItem{
    margin:10px
}

img{
    max-width: 800px;
    max-height: 800px;
}

.loginContainer{
    display:flex;
    justify-content: center;
    height:flex;
    width:200px;
    flex-direction:column;
    border:2px;
    border-color: black;
    border-radius: 5px;
    margin:2px;
    border-style:solid;
}
.charts{
    display:flex;
    height:800px;
    width:400 px
}

.containerImg{
    max-height: 75px;
    max-width: 75px;
}
.delete{
    color:red
}

.outerContainer{
    display: flex;
    flex-direction: row;
}

.contentContainer{
    float:right;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:4;
}
.classroomContainer{
    margin:10px;
    border: 2px;
    border-color: black;
    border-radius: 5;
    flex:4;
    border-style:solid;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.createContainer{
    float:left;
    display:flex;
    margin:10px;
    flex:.33;
    border: 2px;
    border-color: black;
    border-style: solid;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: column;
}

.innerContainer{
    margin:10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.studentContainer{
    margin:10px;
    border: 2px;
    border-color: black;
    border-radius: 5;
    width: 120px;
    height: 120px;
    border-style:solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
} 
.singleStudentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.studentName{
    width:80px
}
.single{
    flex:4
}
.small{
    font-size:small
}
.button{
    height:25px;
    width:45px;
    font-size: x-small;
}
.xsmall{
    font-size: x-small;
}
.classroomsContainer{
    background-image: url(https://i.pinimg.com/736x/1a/c6/66/1ac6665aff3e0ba176993b3a6583d2d7--paper-texture-industrial.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin:10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}